body {
    font-family: Arial;
    background:#f4f6f8;
    margin:0;
}

nav {
    background:#0a2540;
    color:white;
    padding:15px;
}

nav a {
    color:white;
    margin-left:15px;
    text-decoration:none;
}

.container {
    padding:40px;
}

input, button {
    display:block;
    margin:10px 0;
    padding:10px;
    width:300px;
}

.btn, button {
    background:#1e88e5;
    color:white;
    border:none;
    cursor:pointer;
}